.App {
  background: linear-gradient(rgb(234, 233, 248) 0%, rgb(216, 224, 228) 100%);
  font-family: var(--font-fam);
  width: 100%;
  padding: 5% 2%;
}
.container {
  //   padding: 2rem 2rem 0 2rem;
  border: 1px solid black;
  margin: 0 auto;
}
